.per-product{
    border: 1px solid white;
    width: 90%;
    height: 280px;
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}
.per-product:hover .details{
    display: block;
}
img{
    transition: transform ease-out 0.75s;
}
.per-product:hover img{
    transform: scale(1.5);
}

.details{
    display: none;
    position: absolute;
    left: 40px;
    bottom: 45px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    color: white;
}

