.parent_review{
    background-color: rgb(241, 241, 241);
    padding-bottom: 300px;
}

.review{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 75%;
    margin-top: -80px;
}
@media screen and (max-width: 576px){
    .review{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}